<section class="home">

    
        
      <div class="sidebar">
          <app-sidebar (openModal)="openModalHandler()"></app-sidebar>
      </div>
  
      <div class="main">
          
          <header>
              <h1>Archived <span>Notes</span></h1>
  
             
          </header>
  
  
          <div class="notes">
  
              <div  *ngFor="let note of notes">
                  <app-notecard [note]="note"></app-notecard>
              </div>
  
             
  
             
  
            
  
          </div>
  
         
  
  
  
  
  
      </div>
     
  
  </section>

  <div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModalHandler()">&times;</span>
    <h2>Settings</h2>
    
    <h3>Theme Change</h3>

    <div class="buttons">
      <button (click)="themeChange('light')">Light</button>
      <button (click)="themeChange('dark')" style="background-color: rgb(44, 44, 44); color:white">Dark</button>
       
      <label for="color">Custom</label>
      <input type="color" name="" id="color" (input)="onCustomColorChange($event)">
    </div>


    <div class="user">
      <h3>User</h3>

      <button style="background-color: rgb(225, 78, 78); color:white" (click)="logout()">logout</button>
    </div>

  </div>
</div>
