<section class="home">

    
        
      <div class="sidebar">
          <app-sidebar (openModal)="openModalHandler()"></app-sidebar>
      </div>
  
      <div class="main">
          
          <header>
              <h1>Archived <span>Notes</span></h1>
  
             
          </header>
  
  
          <div class="notes">
  
              <div  *ngFor="let note of notes">
                  <app-notecard [note]="note"></app-notecard>
              </div>
  
             
  
             
  
            
  
          </div>
  
         
  
  
  
  
  
      </div>
     
  
  </section>
