<section class="home">

  
      
    <div class="sidebar">
        <app-sidebar (openModal)="openModalHandler()"></app-sidebar>
    </div>

    <div class="main">
        
        <header>
            <h1>Archived <span>Notes</span></h1>

           
        </header>


        <div class="notes">

            <div class="noteCard">

                <h1>Topic</h1>

                <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit...

                </div>

                <div class="controls">
                   
                </div>

            </div>


             <div class="noteCard">

                <h1>Topic</h1>

                <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit...

                </div>

                <div class="controls">
                    <p>type</p>
                </div>

            </div>



             <div class="noteCard">

                <h1>Topic</h1>

                <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit...

                </div>

                <div class="controls">
                    <p>type</p>
                </div>

            </div>


           

        </div>

       




    </div>
   

</section>
