<section class="home">

  <div  class="setTheme">
   <button (click)="closeModalHandler()">close</button>
  </div>
      
    <div class="sidebar">
        <app-sidebar (openModal)="openModalHandler()"></app-sidebar>
    </div>

    <div class="main">
        <p *ngIf="error">error loading {{error}}</p>
        <header>
            <h1>Notes</h1>

            <div class="filter-search">
                <div class="filter">
                    <label for="">filter by</label>
                    <select name="" id="" (change)="onCategoryChange($event)">

                    <option value="All">All</option>
                    <option value="Academic">Academic</option>
                    <option value="Work">Work</option>
                    <option value="Others">Others</option>

                </select></div>
                <div class="search">
                    <input type="search" placeholder="search" (input)="searchNotes($event)"> <img src="assets/images/lense.png" alt="lense">
                </div>
            </div>
        </header>


        <div class="notes">

          <app-notecard *ngFor="let note of notes | filter:searchTerm as filteredNotes" [note]="note"></app-notecard>
          <p *ngIf="(notes | filter:searchTerm).length === 0">No notes found.</p>


            


           


            


           

        </div>

        <div class="addNotes">
          <button class="button" routerLink="/create">+ Add new note</button>
        </div>




    </div>
   

</section>

<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModalHandler()">&times;</span>
    <h2>Settings</h2>
    
    <h3>Theme Change</h3>

    <div class="buttons">
      <button (click)="themeChange('light-theme')">Light</button>
      <button (click)="themeChange('dark-theme')" style="background-color: rgb(44, 44, 44); color:white">Dark</button>
       
      <label for="color">Custom</label>
      <input type="color" name="" id="color" (input)="onCustomColorChange($event)">
    </div>


    <div class="user">
      <h3>User</h3>

      <button style="background-color: rgb(225, 78, 78); color:white" (click)="logout()">logout</button>
    </div>

  </div>
</div>
