<section class="home">

  <div  class="setTheme">
   <button (click)="closeModalHandler()">close</button>
  </div>
      
    <div class="sidebar">
        <app-sidebar (openModal)="openModalHandler()"></app-sidebar>
    </div>

    <div class="main">
        <p *ngIf="error">error loading {{error}}</p>
        <header>
            <h1>Notes</h1>

            <div class="filter-search">
                <div class="filter">
                    <label for="">filter by</label>
                    <select name="" id="">
                    
                    <option value="">All</option>
                    <option value="">Academic</option>
                    <option value="">Work</option>
                </select></div>
                <div class="search">
                    <input type="search" placeholder="search"> <img src="assets/images/lense.png" alt="lense">
                </div>
            </div>
        </header>


        <div class="notes">

          

            <app-notecard *ngFor="let note of notes" [note]="note">
              
            </app-notecard>

            


           


            


           

        </div>

        <div class="addNotes">
          <button class="button" routerLink="/create">+ Add new note</button>
        </div>




    </div>
   

</section>
