<section class="signup">

    <p class="head">Sign up</p>

    <form action="">

        <div class="singleinput">
           <label for="">User name</label>
         
           <input type="text" name="" id="">
        </div>


        <div class="singleinput">
           <label for="">Email</label>
         
           <input type="email" name="" id="">
        </div>

        <div class="singleinput">
           <label for="">Password</label>
         
           <input type="password" name="" id="">
        </div>

        <div class="singleinput">
           <label for="">Confirm password</label>
         
           <input type="password" name="" id="">
        </div>

        <p>By continuing you agree to out <span>Terms of services</span> and <span>Privacy Policy</span></p>

        <div class="button">
            <button>Sign Up</button>
        </div>
    </form>

</section>
