<section class="signup">

    <p class="head">Login</p>

    <form action="">

       


        <div class="singleinput">
           <label for="">Email</label>
         
           <input type="email" name="" id="">
        </div>

        <div class="singleinput">
           <label for="">Password</label>
         
           <input type="password" name="" id="">
        </div>

       

        <p><span>Forgot password?</span></p>

        <div class="button">
            <button>Login</button>
        </div>
    </form>

</section>
