@import '../../../_variables';
@import '../../../_mixins.scss';
@import '../../../_base.scss';

.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    &>*{
        
        height: 100vh;
    }

    .sidebar{
       
        width: 200px;
        @include align-just-center;

    }

    .main{
        flex: 1;
    }


}

@media (max-width:585px) {
    
    .home{
        flex-direction: column;
    }

    .sidebar{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 100px !important;
        margin-inline: auto;
        order: 2;
        z-index: 10;
    }

    .main{
  order: 1;
  flex: 1;
  padding-inline: 10px;
    }
}



